<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name='robots' content='max-image-preview:large' />

  <title inertia>Helios Press</title>

  <style>
  </style>

  <script>
  </script>

  @stack('dumper')
  @viteReactRefresh()
  @inertiaHead()
  <script src="https://www.google.com/recaptcha/api.js?render={{ env('VITE_REACT_APP_GOOGLE_RECAPTCHA_SITE_KEY') }}"></script>
  @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
</head>

<body class="">
  @inertia()
</body>

</html>